<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="postgres_music_serban"
         providerName="System.Data.Odbc"
         connectionString="Driver={PostgreSQL ODBC Driver(ANSI)};Server=localhost;Database=Music;Uid=postgres;Pwd=SL160760IE;Port=5432;"/>
    <add name="postgres_music_lorena"
         providerName="System.Data.Odbc"
         connectionString="Driver={PostgreSQL ODBC Driver(ANSI)};Server=localhost;Database=Music;Uid=...;Pwd=...;Port=5433;"/>
    <add name="postgres_music_teo"
         providerName="System.Data.Odbc"
         connectionString="Driver={PostgreSQL ODBC Driver(ANSI)};Server=localhost;Database=Music;Uid=...;Pwd=...;Port=5432;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>